#bio {
	background-color: rgba(0,0,0,0.5);  
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  color: $main-text-color;
  text-align: center;

  &__main {
    margin-top: 20%;
    margin-left: 20%;
    margin-right: 20%;   
  }

  &__works {    
    text-align: left;
    margin-left: 20%;
    margin-right: 20%;
    .works-section{
      margin-top: 10%;
      
      .bio__item {
        margin-top: 2%;
        margin-bottom: 2%;
      }  
    }
      

    .title {
      text-align: right;
      color: $title-color;
    }
  }

  &__cv, &__oldsite{
    text-align: left;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 60px;
    margin-top: 60px;

    a {
      // color: $main-text-color;
    } 
  }
}