$primary-color: #333;
$old-main-text-color: #F6AC97;
$main-text-color: #f1f1f1;
$main-linked-text-color: #ff0000;
$main-text-color-dark: #0a1203;
$title-color: #F6ACD7;
$title-dark-color: #560C37;
$background-color: #000;
$border-color-on-black: #fafffa;
$link-color: #ccffcc;
$link-visited-color: $link-color;
$link-hover-color: $link-color;
$footer-link-color: #ffcccc;
