footer {
  background-color: rgba(0,0,0,0.8);
	position: fixed;
	bottom: 0;
	width: 100vw;
	height: 40px;
	color: $main-text-color;
  display: flex;
  flex-direction: row;
  flex-wrap: no-wrap;
  justify-content: center;

  a {
    margin: auto 20px;
  }
}

