#intro {
	position: absolute;
	width: 100vw;
	height: 75vh;  
  left: 0px;
  top: 0px;
  color: $main-text-color;
}

#about {
  position: absolute;
  top: 50%;
  width: 100%;
  
  text-align: center;
}