/* Eric Meyer's CSS Reset
   http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
   This is a Sass partial
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

#threejs-magic {
  position: fixed;
  width: 100vw;
  height: 100vh;
  left: 0px;
  top: 0px; }

#intro {
  position: absolute;
  width: 100%;
  height: 75vh;
  left: 0px;
  top: 0px;
  color: #F6AC97; }
  #intro #title {
    position: absolute;
    top: 30%;
    width: 80%;
    padding-left: 10%;
    padding-right: 10%;
    text-align: center;
    font-size: 22px; }

#about {
  position: absolute;
  top: 50%;
  width: 80%;
  padding-left: 10%;
  padding-right: 10%;
  text-align: center; }
  #about #nav {
    margin-top: 10%; }

#main-content {
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  color: #F6AC97;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 1300px;
  justify-content: center;
  user-select: none;
  margin: 0 auto;
  margin-top: 75vh; }

.main__container {
  width: 400px;
  height: 250px;
  background-size: cover;
  position: relative;
  margin: 10px;
  cursor: pointer; }

.main__bw-image {
  /*position: absolute;
  left: 0px;
  left: 0px;*/
  width: 100%;
  height: 100%; }

.main__color-image {
  width: 100%;
  height: 100%; }

.invisible {
  opacity: 0;
  transition: opacity 0.5s ease-in-out; }

.main__text-container {
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  text-align: center; }
  .main__text-container__top {
    top: 20px; }
  .main__text-container .__top {
    top: 20px; }
  .main__text-container .main__text-container__top {
    top: 20px; }
  .main__text-container__bottom {
    bottom: 20px; }
  .main__text-container .main__text-container__bottom {
    bottom: 20px; }

.main__text-container__top {
  position: absolute;
  width: 100%;
  top: 20px; }

.main__text-container__bottom {
  position: absolute;
  width: 100%;
  bottom: 20px; }

.main__interaction-zone {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px; }

@media (max-width: 640px) {
  .main__container {
    width: 90%;
    height: auto; }
  .main__bw-image {
    opacity: 0; }
  .main__text-container {
    opacity: 1; } }

footer {
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  bottom: 0;
  width: 100vw;
  height: 40px;
  color: #F6AC97;
  display: flex;
  flex-direction: row;
  flex-wrap: no-wrap;
  justify-content: center; }
  footer a {
    margin: auto 20px; }

#bio {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  color: #F6AC97;
  text-align: center; }
  #bio__main {
    margin-top: 20%;
    margin-left: 20%;
    margin-right: 20%; }
  #bio__works {
    text-align: left;
    margin-left: 20%;
    margin-right: 20%; }
    #bio__works .works-section {
      margin-top: 10%; }
      #bio__works .works-section .bio__item {
        margin-top: 2%;
        margin-bottom: 2%; }
    #bio__works .title {
      text-align: right;
      color: #F6ACD7; }
  #bio__cv, #bio__oldsite {
    text-align: left;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 60px;
    margin-top: 60px; }

body {
  background-color: #000; }
