html{
	-webkit-user-select: none;  /* Chrome all / Safari all */
	-moz-user-select: none;     /* Firefox all */
	-ms-user-select: none;      /* IE 10+ */
	user-select: none; 
	cursor: default;
	font-family: 'Roboto', sans-serif;

	background-color: #101010;
	color: #fff;
	margin: 0px;
	overflow: hidden;
}
#regular-content {
	height: 100vh;
	width: 100vw;
	z-index: 99999999;
	position: absolute;
	left: 0px;
	right: 0px;
	background-color: black;
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
	min-width: 800px;
}

#quote {
	position: absolute;
	left: 15%;
	top: 30%;
}

#start-button {
	width: 200px;
	height: 30px;
	margin: auto 0;
	display: block;
	background-color: green;
	cursor: pointer;


	position: absolute;
	left: 15%;
	top: 60%;
}

#start-button-text {
	vertical-align: middle;
	text-align: center;
	line-height: 30px;
}

#img-container {
	position: absolute;
	left: 50%;
	top: 0;
}

#img-container img{
	height: 100vh;
}

#start-button:hover{
	-webkit-box-shadow: 0px 0px 5px 0px rgba(0,255,0,1);
	-moz-box-shadow: 0px 0px 5px 0px rgba(0,255,0,1);
	box-shadow: 0px 0px 5px 0px rgba(0,255,0,1);
}